body
	font-family: 'Roboto Regular', sans-serif
	background: linear-gradient(45deg,#ABE5E6,#7062F0) no-repeat
	background-size: cover
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	font-size: 16px
	line-height: 1.4

a
	font-family: "Roboto Regular", sans-serif
	font-size: 14px
	color: #323232
	text-decoration: none

.container
	max-width: 1240px
	margin: 0 auto
	+r(1270)
		margin: 0 20px

